@import url("http://fonts.googleapis.com/css?family=Open+Sams|Roboto:400,700&display=swap");

/*======
Variables
======
*/

:root {
  /*=====dark shades of primary color====*/
  --clr-primary-1: hsl(156, 88%, 14%);
  --clr-primary-2: hsl(181, 77%, 27%);
  --clr-primary-3: hsl(177, 81%, 13%);
  --clr-primary-4: hsl(184, 89%, 21%);
  /*===primary/maincolor==*/
  --clr-primary-5: hsl(43, 25%, 17%);
  /*====lighter shades of primary color*/
  --clr-primary-6: hsl(181, 89%, 76%);
  --clr-primary-7: hsl(156, 90%, 76%);
  --clr-primary-8: hsl(0, 56%, 32%);
  --clr-primary-9: rgb(28, 101, 128);
  --clr-primary-10: hsl(45, 100%, 96%);
  /*===darkest grey - used for headings==*/
  --clr-primary-1: hsl(209, 61%, 16%);
  --clr-primary-2: hsl(211, 39%, 23%);
  --clr-primary-3: hsl(209, 34%, 30%);
  --clr-primary-4: hsl(209, 28%, 39%);
  /*===grey used for paragraphs===*/
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
 
}


/*====
Global Styles
====*/
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  font-family: var(--ff-secondary);
  background: var(--clr-primary-1);
  color: var(--clr-grey-1);
  line-height: 1.5s;
  font-size: 0.875rem;
  overflow-x: hidden;
  height:100vh;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(nav-logo) {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}

.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-7);
}

/* header {
  font-size: 10rem;
  text-align: center;
  font-family:var(--ff-H1);
  margin-top: 10px;
  font-weight: bold;
  color: var(--clr-primary-10);
} */
span {
  font-size: 2.5rem;
  color: var(--clr-grey-7);
}
.pics {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}


/* making nav */

nav{
    display:flex;
    justify-content: space-around;
    align-items:center;
    /* min-height:8vh; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    
}
.logo{
   
     text-transform:uppercase ;
     letter-spacing: 5px;
     font-size: 20px;
     
}
.nav-links{
    display:flex;
    justify-content: space-between;
    width:20vw;
    z-index: 1;
    margin-top: 10px;
    /* font-size: 10rem; */
    
}
@media screen and (max-width:769px){
  .nav-links{
    font-size:10rem;
  }
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color:white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
.burger{
    display:none;
    cursor: pointer;
}
.burger div{
    width:25px;
    height:3px;
    background-color:wheat;
    margin:5px;
    transition:0.3s ease;
}
@media screen and (max-width:1024px){
    .nav-links{
        width:60%;
    }
}
@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position:absolute;
        right:0px;
      
        top:8vh;
       
        display:flex;
        flex-direction: column;
        align-items: center;
        width:40%;
        transform:translateX(100%);
        transition:transform 0.5s ease-in;
    }
    .nav-links li{
        opacity:1;
    }
    .burger{
        display:block;
    }
}
.nav-active{
    transform:translateX(0%);
}
    
@keyframes navLinkFade{
       from{
           opacity: 0;
           transform:translateX(20px);
       }
       to{
           opacity:1;
           transform:translateX(0px);
       }
}
.toggle .line1 {
    transform: rotate(-45deg)  translate(-5px, 6px);
}
.toggle .line2 {
 opacity:0;
}
.toggle .line3{
 transform: rotate(45deg) translate(-5px,-6px);
}
/* navigation ends  */
.portfolio-img {
  width: 50vw;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
}

@media screen and (min-width:900px){
    .portfolio-img{
        width:30vw;
    }


}
/* About section */
section {
  width: 100%;
  height:fit-content;
  margin-left: auto;
  margin-right: auto;

  background-color: #346692;
}
.title {
  text-align: center;
  font-size: 2vmin;
  color: rgb(245, 222, 179);
}
.title h1{
  font-size:4rem;
}
.row {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.row .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about .row {
  margin-top: 40px;
}
.my-face{
  width:20vw;
  height:fit-content;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}
h4 {
  font-size: 3vmin;
  color: #d9d9e4;
  margin: 20px auto;
}
p {
  color: var(--clr-primary-10);
  padding: 0px 40px;
  font-size:1.5rem;
}
.about .btn {
  margin: 10px;
  color:wheat;
} 





/* ////// */
.hirebtn {
  list-style: none;
  transform: translate(100rem, -9rem);
  animation: bounce 20s ease-in-out infinite;
 
}

@keyframes bounce {
  0% {
    transform: scale(-2);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(-1);
  }
}
.hirebtn a {
  font-size: 2rem;
  color: wheat;
}





footer {
position:relative;
width:100%;
height:400px;
background-color: #05172f;
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 12rem;;
}
footer p:nth-child(1){
font-size: 20px;
color:var(--clr-primary-10);
margin-bottom: 20px;
font-weight:bold;
}
footer p:nth-child(2) {
color:wheat;
font-size:17px;
width:500px;
text-align: centerrgb(6, 18, 58);
line-height:26px;
text-align: center;
}
.social {
display:flex;
}
.social a {
width:45px;
height:45px;
display: flex;
align-items: center;
justify-content: center;
background:transparent;
border-radius: 50%;
margin:22px 10px;
color:white;
text-decoration:none;
font-size:20px;
}
.social a:hover {
transform:scale(1.3);
transition: .3s;
}
.end{
position:absolute;
color:#f9004d;
bottom:30px;
font-size:14px;
}


/* Contact section */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-size:2rem;
}

input[type=submit] {
  
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

input[type=submit]:hover {
  background-color:#457aa0;
}

.container {
  border-radius: 5px;
  background-color: transparent;
  padding: 20px;
  width:80vw;
  display:flex;
  align-items:center;
  justify-content:center;
}
.container label{
  color:wheat;
  font-size:2rem;
}
.contact{
  color:white;
  font-size:3rem;
  text-align:center;
}